html{
    background: url('../images/background.jpg');
    background-repeat:no-repeat;
    background-size: 100% auto;
    background-position: left 50%;
}
body{
    background-color: rgba(2, 2, 2, .7);
}
#logo,nav button{
    background-color: rgba(0,0,0, 0.2);
    color: #efefef;
}
.kw-wrap{
    border: 1px solid #fff;
}
.btn-change,.kw,.kw-wrap{
    background-color: rgba(255,255,255,0);
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder{ 
    color:#ddd;
}
.img,.website-icon{
    border-radius: 50%;
    width: 76px;
    height: 76px;
}
.website-icon:hover{
    box-shadow:0 0 8px #f1f1f1 ;
}
nav button，#logo,.website-name{
    color: #eeeeee;
}
.img,.btn-change>svg {background-color: #000; }
.website-icon,svg { opacity: 0.5; }

@media(max-width : 500px){
    html{
        background-size: auto 100%;
    }
}