body{
    background-color: #232323;
}
.kw-wrap, .box>a{
    background: #191919;
    box-shadow:  5px 5px 10px #000000,
                 -5px -5px 10px #555555;
}
.box>a{
    display:block;
    padding-top: 15px;
}
.btn-change{
    background-color: #333333;
}
input{
    background-color: #151515;
    color: #f0f0f0;
}
.siteList .box .box>a:hover{
    background: #191919;
    box-shadow: inset 5px 5px 7px #000000,
                inset -5px -5px 3px #555555;
}
p{
    color: #f0f0f0;
}
.website-icon{
    border-radius: 2px;
    box-shadow: 0 0 1px #eeeeee;
    font-size: 32px;
    line-height: 50px;
}
.website-icon,svg{
    opacity: .4;
}
nav button,#logo{
    background: #232323;
    box-shadow:  5px 5px 5px #121212,
                 -3px -3px 4px #555555;
    color:#aaaaaa;
}