body{
    background-color: rgba(0,0,0,.4);
}
#logo,nav button{
    background-color: rgba(0,0,0, 0.2);
    color: #fefefe;
}
.kw-wrap{
    border: 1px solid #fff;
}
.kw-wrap,.btn-change,.kw{
    background-color: rgba(255,255,255,0);
}
input::placeholder {
    color: #eeeeee;
  }
.box>a,.website-icon{
    border-radius: 50%;
    width: 76px;
    height: 76px;
    box-shadow:0 0 6px #3f3f3f ;
}
.website-icon:hover{
    box-shadow:0 0 8px #f1f1f1 ;
}
.website-name{
    color: #eeeeee;
}
@media(max-width : 500px){
    html{
        background-size: auto 100%;
    }
}
