* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
}
:focus {
    outline: 0;
}
a{text-decoration:none;
}
ul {
    list-style: none;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    padding:15px 35px;
}
#logo{
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    width: 75px;
    text-align: center;
    border-radius: 4px;
}
nav button{
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    padding:0 7px;
    border-radius: 4px;
}
.moon,.sun{
    margin-right: 20px;
}
.sun{
    display: none;
}
.siteList{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
footer{
    width: 100%;
    height: 10vh;
}
.kw-wrap{
    width: 600px;
    height: 50px;
    margin:20px auto 30px;
    border-radius: 48px;
    overflow: hidden;
    display: flex;
}
.btn-change{
    width: 50px;
    height: 100%;
}
.search-icon{
    width: 35px;
    height: 35px;
    margin:0 8px;
    background:#fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    font-size: 22px;
}
.kw{
    width: 90%;
    height: 100%;
    font-size: 15px;
    margin-left: 3%;
}
.submit{
    margin-right: 18px;
    background-color: rgba(0,0,0, 0);
}
.siteList .box{
    width: 14.28%;   
    height: 20vh;
    position: relative;
}
.href{
width: 100%;
display: flex;
flex-wrap: wrap;
}
.img{
    border-radius: 10%;
    margin:0 auto;
    width: 76px;
    height: 76px;
}

.website-icon{
    margin: auto;
    width: 50px;
    height: 50px;
    display:block;
    font-size: 42px;
    overflow: hidden;
    white-space:nowrap;
    line-height: 76px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: #fafafa;
    text-transform: uppercase;
}
.siteList .box p{
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
}
.delete-icon{
    width: 18px;
    height: 18px;
    right: 25px;
    top: 0;
    position: absolute; 
}
@media(max-width : 500px){
nav{
    
    padding:15px 15px;
}
    .kw-wrap{
        width: 90%;
        margin: 30px auto 40px;
    }
    .siteList{
        width: 100%;
    }
    .siteList .box{
        width: 25%;   
        height: 20vh;
    } 
    .img{
        border-radius: 10%;
        margin:0 auto;
    }
    img{
        height: 50px;
        display:block;
    }
    .delete-icon{
        width: 23px;
        height: 23px;
        top: -5px;
        right: 2px;
    }
}

.color1{
    background-color: #D4584A;
}
.color2{
    background-color: #E38139;
}
.color3{
    background-color: #99C455;
}
.color4{
    background-color: #5FB257;
}
.color5{
    background-color: #58B8B3;
}
.color6{
    background-color: #377FF7;
}
.color7{
    background-color: #603BAF;
}
.color8{
    background-color: #8F30AA;
}
.color9{
    background-color: #CE4794;
}
.color10{
    background-color: #9C6A46;
}
.color11{
    background-color: #8A98A2;
}
.color12{
    background-color: #333333;
}
.color13{
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.color14{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);;
}
.color15{
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
.color16{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);ss
}